<section class="blogo-article article-overview">
  <%= render partial: 'blogo/shared/post_header', locals: {post: project} %>

  <div class="pure-g-r project">
    <div class="pure-u-1-4">
      <div class="pure-g-r">
        <%- project.attachments.each_with_index do |attach, index| %>
            <div class="pure-u-<%= index == 0 ? '4-4' : '1-2' %>">
              <a href="<%=attach.file.url(:medium)%>" data-lightbox="project-<%=project.id%>" data-title="<%=project.title%>">
                <img src="<%=attach.file.url(:thumb)%>" alt="" style="display: block; width: 100%;">
              </a>
            </div>
        <% end %>
      </div>
    </div>
    <div class="pure-u-3-4">
      <%= render partial: 'blogo/shared/post_content', locals: {post: project, overview: true} %>
    </div>
  </div>

  <%= link_to t('blogo.user.read_post'), blogo_project_path(project), class: 'pure-button button-secondary' %>
</section>
